// @import '~bootstrap/scss/bootstrap';
@import '~@angular/cdk/overlay-prebuilt.css';
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: black;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #ecf4ff;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
input{
  border: none !important;
  font-size: 18px !important;
  &:focus-visible {
      border: none !important;
      outline: none !important;
  }
}
/* Importing Bootstrap SCSS file. */
